#player {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
}

#door {
    position: absolute;
    top: 385px;
    left: 1000px;
    height: 45px;
    width: 35px;
    background-color: black;
}

.platform {
    position: absolute;
    background-color: black;
}

#start_menu { /* this is also the container for the start menu buttons */
    position: static;
    background-color: blanchedalmond;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

#start_button {
    padding: 5px 10px;
    margin:5px;
}

#login_button {
    padding: 5px 10px;
    margin:5px;
}

#logout_button {
    padding: 5px 10px;
    margin:5px;
}

#profile {
    padding:5px 10px;
    margin:5px;
}

#shop {
    padding: 5px 10px;
    margin:5px;
}

#settings {
    padding: 5px 10px;
    margin:5px;
}
