#player {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
}

#floor {
  position: absolute;
  top: 430px;
  width: 100%;
  height: 4px;
  background: black;
}

#door {
    position: absolute;
    top: 385px;
    left: 1000px;
    height: 45px;
    width: 35px;
    background-color: black;
}

#start_menu { /* this is also the container for the start menu buttons */
    position:static;
    background-color: red;
    width: 500px;
    height: 500px;
    align-content: center;
    align-self: center;
}
